.pictures {
  padding: 0px;
  margin: 0px;
  a {
    padding: 6px;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    img {
      margin: 0px;
      padding: 0px;
      border: 1px solid #0a0a0a;
    }
  }
}
